USE [master]
GO
/****** Object:  Database [RH_DB]    Script Date: 23/10/2021 12:13:18 ******/
CREATE DATABASE [RH_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RH_DB', FILENAME = N'D:\Program Files\Microsoft\SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RH_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RH_DB_log', FILENAME = N'D:\Program Files\Microsoft\SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RH_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RH_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RH_DB]
GO
/****** Object:  Table [dbo].[Conhecimentos]    Script Date: 23/10/2021 12:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conhecimentos](
	[id_Conhecimentos] [int] NOT NULL,
	[nmConhecimento] [varchar](50) NOT NULL,
	[ConDescricao] [varchar](max) NULL,
 CONSTRAINT [PK_Conhecimentos] PRIMARY KEY CLUSTERED 
(
	[id_Conhecimentos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curriculo_conhecimento]    Script Date: 23/10/2021 12:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curriculo_conhecimento](
	[id_curriculo] [int] NOT NULL,
	[id_Conhecimentos] [int] NOT NULL,
 CONSTRAINT [PK_Curriculo_conhecimento] PRIMARY KEY CLUSTERED 
(
	[id_curriculo] ASC,
	[id_Conhecimentos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curriculos]    Script Date: 23/10/2021 12:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curriculos](
	[id_curriculo] [int] NOT NULL,
	[nmPessoa] [varchar](50) NOT NULL,
	[PessDescricao] [varchar](max) NULL,
	[id_Conhecimentos] [int] NOT NULL,
 CONSTRAINT [PK_Curriculos] PRIMARY KEY CLUSTERED 
(
	[id_curriculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pontos]    Script Date: 23/10/2021 12:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pontos](
	[id_vaga] [int] NOT NULL,
	[id_Conhecimentos] [int] NOT NULL,
	[pontos] [int] NULL,
 CONSTRAINT [PK_Pontos] PRIMARY KEY CLUSTERED 
(
	[id_vaga] ASC,
	[id_Conhecimentos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vagas]    Script Date: 23/10/2021 12:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vagas](
	[id_vaga] [int] NOT NULL,
	[NmVaga] [varchar](50) NOT NULL,
	[Descricao] [varchar](max) NULL,
	[id_Conhecimentos] [int] NOT NULL,
 CONSTRAINT [PK_Vagas] PRIMARY KEY CLUSTERED 
(
	[id_vaga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Curriculo_conhecimento]  WITH CHECK ADD  CONSTRAINT [FK_Curriculo_conhecimento_Conhecimentos] FOREIGN KEY([id_Conhecimentos])
REFERENCES [dbo].[Conhecimentos] ([id_Conhecimentos])
GO
ALTER TABLE [dbo].[Curriculo_conhecimento] CHECK CONSTRAINT [FK_Curriculo_conhecimento_Conhecimentos]
GO
ALTER TABLE [dbo].[Curriculo_conhecimento]  WITH CHECK ADD  CONSTRAINT [FK_Curriculo_conhecimento_Curriculos] FOREIGN KEY([id_curriculo])
REFERENCES [dbo].[Curriculos] ([id_curriculo])
GO
ALTER TABLE [dbo].[Curriculo_conhecimento] CHECK CONSTRAINT [FK_Curriculo_conhecimento_Curriculos]
GO
ALTER TABLE [dbo].[Pontos]  WITH CHECK ADD  CONSTRAINT [FK_Pontos_Conhecimentos] FOREIGN KEY([id_Conhecimentos])
REFERENCES [dbo].[Conhecimentos] ([id_Conhecimentos])
GO
ALTER TABLE [dbo].[Pontos] CHECK CONSTRAINT [FK_Pontos_Conhecimentos]
GO
ALTER TABLE [dbo].[Pontos]  WITH CHECK ADD  CONSTRAINT [FK_Pontos_Vagas] FOREIGN KEY([id_vaga])
REFERENCES [dbo].[Vagas] ([id_vaga])
GO
ALTER TABLE [dbo].[Pontos] CHECK CONSTRAINT [FK_Pontos_Vagas]
GO
USE [master]
GO
